.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# mac files
.DS_Store

# knitr artefacts
*_cache
*files
doc/*html

# rstan::rstan.package.skeleton() instruction files
Read-and-delete-me

# Cpp build objects
*.dll
*.o
*.so


src-i386
src-x64

.Rd2pdf*

*.cc
*.h
*.cpp

doc/*.png
doc/*.pdf
inst/doc

!readme_files/

Bacon_runs/
package-dev-scipts/cached-runs/
