.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# mac files
.DS_Store

# knitr artefacts
*_cache

# rstan::rstan.package.skeleton() instruction files
Read-and-delete-me

# Cpp build objects
*.dll
*.o

# build on installation
src*

!src/Makevars
!src/Makevars.win
